[Desktop Entry]
Name=Address Book
Name[de]=Adressbuch
Comment=A lightweight GTK+ Contact-Manager
Comment[de]=Ein leichtgewichtiger GTK+ Kontakt-Verwalter
Exec=arkadas
Terminal=false
Type=Application
Icon=address-book
MimeType=application/vcard;text/x-vcard;
Categories=Application;Office;
StartupNotify=true
Encoding=UTF-8
