[Desktop Entry]
Name=Address Book
Name[de]=Adressbuch
Comment=A lightweight GTK+ Contact-Manager based on vCards
Comment[de]=Ein ressourcensparender GTK+ Kontakt-Verwalter, basierend auf vCards.
Exec=arkadas
Terminal=false
Type=Application
Icon=address-book
MimeType=application/vcard;text/x-vcard;
Categories=Application;Office;
StartupNotify=true
Encoding=UTF-8
